@{
    ViewData["Title"] = "ViewAll";
}

@model List<MovieFormResponse>

               <table class="table table-bordered table-hover">
                   <thead class="thead-light">
                       <tr>
                           <td>Category</td>
                           <td>Title</td>
                           <td>Year</td>
                           <td>Director</td>
                           <td>Rating</td>
                           <td>Edited</td>
                           <td>Lent To</td>
                           <td>Notes</td>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach (var x in Model){
                       <tr>
                           <td>@x.Category</td>
                           <td>@x.Title</td>
                           <td>@x.Year</td>
                           <td>@x.Director</td>
                           <td>@x.Rating</td>
                           <td>@x.Edited</td>
                           <td>@x.LentTo</td>
                           <td>@x.Notes</td>
                           <td><a asp-route-movieformid="@x.MovieFormId" asp-controller="Home" asp-action="Edit">Edit</a></td>
                           <td><a asp-route-movieformid="@x.MovieFormId" asp-controller="Home" asp-action="Delete">Delete</a></td>
                       </tr>
                       }

                   </tbody>
               </table>